body {
background: linear-gradient(320deg, rgb(0, 0, 0), rgb(0, 0, 24));
color: whitesmoke;
}

.imgtop {
    margin-top: 10px;
    margin-bottom: 1px;
    
}

.img2 {
    margin-left: 493px;
    border-radius: 25px;
    margin-top: 0px;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 279px;
    margin-top: 45px;
  
}

.h3mais {
   margin-left: 525px;
   font-family:Arial, Helvetica, sans-serif;
   color:dodgerblue;
   margin-bottom: 5px;
   margin-top: 100px;
}

.h3mais2 {
    margin-left: 574px;
    font-family:Arial, Helvetica, sans-serif;
    color:dodgerblue;
    margin-bottom: 50px;
    margin-top: 0px;

}


h1 {
   margin-left: 512px;
   font-size: x-large;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   text-decoration: underline;
}

.imgnatal {
border-radius: 10px;
margin-left: 455px;
margin-top: 1px;
}

.imgseta {
margin-left: 604px;
margin-top: 0px;

}

.face {
margin-left: 100px;

}
 
.insta {
margin-left: 475px;

 }  

 .twi {
margin-left: 100px;

 }

 .saibamais {
margin-left: 578px;
color:rgb(221, 221, 221);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: 100px;

 }

 h6 {
    margin-left: 500px;
 }

 .finalpag1 {
    margin-left: 125px;
 }

 h4 {
margin-left: 593px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: medium;
margin-bottom: 1px;
}

.setorm {
    margin-left: 150px;
}

.setorf {
    margin-left: 240px;
}

.setorfit {
    margin-left: 150px;
    margin-top: 100px;
}


video {
    margin-left: 180px;
  
}

button {
    background-color: rgb(0, 65, 109);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 530px;
    margin-top: 50px;
   }

   a {
    text-decoration: none;
   }

   .logo {
    margin-top: 1px;
   }

   .container {
    display: flex;
    gap: 75px;
   }

   .inicio {
    margin-left: 510px;
    margin-top: 60px;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

   .sobre {
    margin-top: 60px;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   .contatos {
    margin-top: 60px;
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   .i {
    margin-left: 20px;
   }